.revision-link[data-v-8d8a35a3]{vertical-align:sub;text-overflow:ellipsis;white-space:nowrap;margin-right:4px;display:inline-block;overflow:hidden}.icon[data-v-8d8a35a3]{color:#166ff7;cursor:pointer}
